.blackboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ddd;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  background-color: #f9f9f9;
}

.toolbar button,
.toolbar select {
  margin: 5px;
}

.canvas-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

canvas {
  border: 1px solid #ddd;
  background-color: #ffffff;
}

.text-input {
  font-size: 16px;
  padding: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}